@mixin flexcol($align:center,$justify:center,$gap:0){
    display: flex;
    flex-direction: column;
    align-items: $align;
    justify-content: $justify;
    gap: #{$gap}px;
}
@mixin flexRow($align:center,$justify:center,$gap:0){
    display: flex;
    align-items: $align;
    justify-content: $justify;
    gap: #{$gap}px;
}
@mixin heading{
    font-family: "Montserrat","sans-serif";
    font-weight: 700;
    font-size: 1.5rem;
}
@mixin subHeading{
    font-family: "Montserrat","sans-serif";
    font-weight: 500;
    font-size: 1rem;
}
@mixin content{
    font-family: "Montserrat","sans-serif";
    font-weight: 400;
    font-size: .75rem;
}